/* ui buttons tools */

.ui-tools-background {
    background-color: #95befa;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 12px 0px 0px 12px;
}
.ui-tools-background-btn {
    font-weight: bold;
    background-color: #f1f1f9;
    margin-right: 1vw;
}

.ui-tools-background-input {
    border: thin solid grey;
    border-radius: 3px;
}
.ui-tools-background-input input::file-selector-button {
    font-weight: bold;
    background-color: #f1f1f9;
}





/*.ui-tools-background-bt1 {*/
/*    */
/*}*/



/* right click menu */

.context-menu {
    position: absolute;
    z-index: 10;
    background: white;
    border: 1px solid #d4d4d4;
    padding: 10px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
}
.context-menu-ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.context-menu-li {
    width: fit-content;
    width: -moz-fit-content;
    user-select: none;
}
.context-menu-li:hover {
    background-color: #96c0fb;
    border-width: 1px;
    border-style: dotted;
    border-color: black;
}

#node-context-menu {
    display: none;
}

#edge-context-menu {
    display: none;
}

/* dialog styles */

.node-dialog {
    background-color: black;
    width: fit-content;
    width: -moz-fit-content;
    margin: 1px;
    padding: 1px;
    border-radius: 12px 0px 0px 12px;
}

.node-dialog-header {
    background-color: #96c0fb;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px;
    cursor: move;
}

.node-dialog-header h4 {
    margin: 0;
    padding-left: 10px;
    color: white;
    text-shadow: #110f0f 0.1rem 0.1rem 0.04rem;
    font-weight: bolder;
}

.node-dialog-header button {
    font-weight: bolder;
    border-radius: 12px 0px 0px 12px;
    padding: 4px;
    height: auto;
    width: 40px;
}

.node-dialog-header button:hover {
    background-color: brown;
}

.node-dialog-content {
    background-color: #f3f3fa;
    border-radius: 12px 0px 0px 12px;
    margin: 0.3rem 0.1rem 0.1rem 0.25rem;
    padding-bottom: 4px;
}

.node-dialog-content fieldset {
    border-radius: 12px 0px 0px 12px;
}


.node-dialog-form-padding {
    margin-bottom: 0px;
    margin-top: 0;
}





#add-node-dialog {
    display: none;
}
#edit-node-dialog {
    display: none;
}
#remove-node-dialog {
    display: none;
}
#connect-node-dialog {
    display: none;
}

#remove-edge-dialog {
    display: none;
}

#edit-edge-dialog {
    display: none;
}

/*#edit-edge-dialog {*/
/*    display: none;*/
/*}*/